.about-me__container {
  position: relative;
  padding: 0 10rem;
}
.about-me__container > video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
  box-shadow: 20px 0 50px 50px black;
}
.about-me__container > h1 {
  font-weight: 700;
  padding-top: clamp(0.5rem, 7vw, 8rem);
  padding-bottom: clamp(0.5rem, 4vw, 2rem);
  font-size: clamp(0.8rem, 5vw, 3rem);
  font-family: var(--my-font);
  word-spacing: 0.5rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 3px var(--dimmed-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
}
.about-me__container > h1 > p {
  margin: 0;
  font-size: clamp(1.6rem, 10vw, 5rem);
  font-weight: 300;
}

.about-me__col {
  height: auto;
  padding: 2rem 0.5rem 2rem 0.5rem;
}

.about-me__fieldset {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  width: 100%;
  box-shadow: var(--my-shadow);
}

.about-me__fieldset > legend {
  display: inline-block;
  background-color: black;
  box-shadow: var(--my-shadow);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: var(--border-radius);
  max-width: 50%;
  font-weight: 600;
  font-size: clamp(1.2rem, 3vw, 2rem);
  text-align: center;
  font-family: var(--my-font);
  letter-spacing: 0.1rem;
  overflow: hidden;
}
.about-me__fieldset > legend > .letter {
  display: inline-block;
  opacity: 0;
  padding: 0 1px 0 1px;
  transform: translateY(-50px);
  font-family: var(--my-font);
}
.about-me__fieldset > legend > .letter.animate {
  animation: letterAnimate 3s forwards;
}
.about-me__inner-wrapper {
  text-align: left;
  position: relative;
}
.inner-wrapper__header {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
  font-family: var(--my-font);
  font-size: clamp(25px, 2vw, 3rem);
}
.inner-wrapper__header span {
  position: absolute;
  right: -50px;
  top: 50%;

  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  transform-origin: center;
  transition: transform 1s;
  font-size: 2.5rem;
}

.inner-wrapper__text {
  text-align: left;
  font-size: clamp(15px, 2vw, 1.2rem);
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s;
}
.inner-wrapper__radio {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}
.inner-wrapper__radio:checked ~ .inner-wrapper__text {
  max-height: 100vh;
}
.inner-wrapper__radio:checked ~ .inner-wrapper__header span {
  transform: translateY(-50%) rotate(135deg);
}
.myFace {
  border-radius: var(--border-radius);
  max-width: 100%;
  width: 32rem;
  filter: grayscale(0.6);
  cursor: pointer;
}

.imgWrapperFace {
  box-shadow: var(--my-shadow);
  border-radius: var(--border-radius);
}

@media (max-width: 1350px) {
  .myFaceWrapper {
    display: none !important;
  }
  .about-me__container {
    padding: 0 15px;
  }
  .about-me__fieldset {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    background-position: top;
  }
  .about-me__fieldset.load {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(../assets/hobbiton-min.jpg);
  }
  .about-me__outer-wrapper {
    padding: 1rem;
    border-radius: 10px;
    font-weight: 500;
    line-height: 30px;
  }
  .aboutMe-Video {
    display: none;
  }
}
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.quiz-container > h3 {
  font-family: var(--my-font);
  font-size: clamp(1.2rem, 3vw, 3rem);
  display: inline-block;
}
.quiz-container > h3 > .letterH3 {
  transition: transform 1s, opacity 0.1s, color 2s;
  display: inline-block;
}
.quiz-container > h3 > .letterH3.animate.animate {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
  color: white !important;
}
